body {
  font-family: Helvetica, sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.details-container {
  margin: 50px 200px;
}

.img-container {
  display: flex;
}

.subheading {
  color: gray;
}

.img-container img{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    border: 6px solid rgba(157, 147, 128, 0.399);
    border-radius: 20px;
    padding: 1%;
}

.img-content {
    width: 50%;
    max-width: 440px;
  }

.content {
  width: 50%;
  max-width: 440px;
  margin-left: 20px;
}

.content p {
  color: gray;
}

span {
  background-color: #cefee9;
}

.action-button {
    font-family:'Open Sans';
    font-size: 16px;
    font-weight:400;
    display:inline-block;
    color:#FFF;
    border-radius: .25em;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.4);
    text-decoration: none;
  }

  .delete{
    background-color: rgb(192, 57, 43);
    margin-left: 5px;
  }

  .edit{
    background-color: rgb(52, 152, 219);
  }
  
  .primary {
    line-height:40px;
    transition:ease-in-out .2s;
    padding: 0 16px;
  }
  
  .primary:hover, .condensed:hover, .touch:hover {
    transform:scale(1.02);
    box-shadow:2px 2px 5px rgba(0,0,0,0.20), inset 0 0 0 99999px rgba(0,0,0,0.2);
  }

.border{
    border-bottom: lightgray solid 2px;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 60%;
}
