.edit-page form{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10% 35%;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.edit-page fieldset{
	border: none;
}
.edit-page form label {
	display: block;
	margin-bottom: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.edit-page form input[type="text"],
.edit-page form input[type="date"],
.edit-page form input[type="datetime"],
.edit-page form input[type="email"],
.edit-page form input[type="number"],
.edit-page form input[type="search"],
.edit-page form input[type="time"],
.edit-page form input[type="url"],
.edit-page form textarea,
.edit-page form select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.edit-page form input[type="text"]:focus,
.edit-page form input[type="date"]:focus,
.edit-page form input[type="datetime"]:focus,
.edit-page form input[type="email"]:focus,
.edit-page form input[type="number"]:focus,
.edit-page form input[type="search"]:focus,
.edit-page form input[type="time"]:focus,
.edit-page form input[type="url"]:focus,
.edit-page form textarea:focus,
.edit-page form select:focus{
	background: #d2d9dd;
}
.edit-page form select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.edit-page form .dot {
	background: #e5cf28;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 15px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.edit-page form input[type="submit"],
.edit-page form input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #e5cf28;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #74691b;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.edit-page form input[type="submit"]:hover,
.edit-page form input[type="button"]:hover
{
	background: #675f14;
}