a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  border: 1px solid #b7b3ae;
  border-radius: 20px;
  padding: 0 20px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-button{
  font-weight: bold;
  background-color: #b7b3ae;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 2px 1px 9px 3px rgb(0, 0, 0);
  color: white;
}

.nav-item{
  margin-right: 30px;
}

.nav-button-auth{
  font-weight: bold;
  border: 1px solid #b7b3ae;
  border-radius: 20px;
  padding: 10px 30px;
  box-shadow: 2px 1px 9px 3px rgb(0, 0, 0);
  color: white;
}